/* para poner nombre a clases usas BEM - Block-element--modifier */
/* compatibilidad con navegadores normalize.css , reset.css */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* DECLARACION DE VARIABLES EN CSS */

:root{
    --color-primario:  #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;

    --fuente-montserrat:  "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    padding: 0; /* resetea el relleno interno */
    margin: 0; /* resetear los estilos por defecto de los navegadores */
}

body {
    background: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box; /* (elemento hijo) "se encojería" y se ajustaría al tamaño del contenido (elemento padre) */
   /* height: 100vh;*/ /* view port - height */
}

.header{
    padding: 2% 0% 0% 7%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu-link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--color-terciario);
}

/* Flexbox */
.presentacion {
    display: flex;
    align-items: center;
    margin: 8% 7%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.presentacion_contenido-titulo {
    font-size: 2.25rem;  /* 1rem -- 16 px*/
    font-family:var(--fuente-krona);
}

.presentacion_contenido-texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion_contenido-texto a{
    text-decoration: none;
    color: #22D4FD;
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* la posicion del display debe ser en columna */
    align-items: center;
    gap: 32px;
}

.presentacion_enlace-subtitulo{
    font-family:var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlace-link {
    width: 50%;
    /*background-color: #22d4fd;*/
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario); /* ancho de borde - estilo de borde - color borde*/
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* hover */

.presentacion_enlace-link:hover{
    cursor: pointer;
    background-color: #272727;
}

.presentacion_imagen { 
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

/* media queries */ /* (min-width: 480px ) and (max-width: 800px) para que esten entre ese rango */
@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto; /* igual que width : auto */
    }
}

